.login {
    display: flex;
    flex-direction: column;

    .login__form {
        display: flex;
        align-items: center;
        font-family: $font__OpenSans;
        margin-top: 123px;

        h1 {
            margin-bottom: 31px;
            font-size: 40px;
        }

        .form__deco {
            margin-bottom: 66px;
        }

        .login__box {
            width: 384px;
            height: 235px;
            background-color: $color__white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                max-width: 250px;

                label {
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                .login__input {
                    border: none;
                    border-bottom: 1px solid $color__light__gray;
                    width: 100%;
                    margin-bottom: 15px;
                    background-color: $color__white;
        
                    &:focus {
                        border: none;
                        border-bottom: 1px solid $color__light__gray;
                        outline: none;
                    }
        
                    &:active {
                        border: none;
                        border-bottom: 1px solid $color__light__gray;
                        outline: none;
                    }
                }
            }
            
            .register__submit {
                height: 25px;
                background: none;
                outline: none;
                border: 1px solid #737373;
                font-family: "Open Sans", sans-serif;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    background-color: #737373;
                    transition: 1s;
                }
            }
        }
        
        .login__buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 40px;

            button {
                width: 117px;
                height: 50px;
                background: none;
                outline: none;
                border: 1px solid $color__light__gray;
                font-family: $font__OpenSans;
                font-weight: bold;

                &:first-child {
                    margin-right: 200px;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: $color__white;
                    transition: 0.5s;
                }
    
                &:focus {
                    outline: none;
                    scale: 0.8;
                }
    
                &:active {
                    outline: none;
                    scale: 0.8;
                }  
            }
        }
    }
}
