@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Open+Sans:wght@300&display=swap');

//fonts
$font__Merriweather: 'Merriweather Sans', serif;
$font__OpenSans: 'Open Sans', sans-serif;

//colors
$color__white: #F0F1F1;
$color__brown: #5E5322;
$color__yellow:#FAD648;
$color__light__gray: #737373;
$color__dark__gray: #3C3C3C;